<header class="sidebar-nav-header">
  <a class="sidebar-nav-logo" href="#">
    <h2 style="color: #00bd9c; margin-top: 10px">ClinicManage</h2>
  </a>

  {{#if isShowingSettings }}
    <nav class="settings-nav">
      {{#if session.isAuthenticated}}
        <a href="#" class="logout" {{ action 'invalidateSession' }}>{{t "navigation.actions.logout"}}</a>
      {{else}}
        {{#link-to 'login'}}{{t "navigation.actions.login"}}{{/link-to}}
      {{/if}}
      <a href="#" {{ action 'about' }}>{{t "navigation.about"}}</a>
    </nav>
  {{/if}}
</header>
